* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.loginContainer {
    min-height: 100vh;
    background-image: url("../../assets/backgroundLogin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
}

.leftSide {
    flex: 1;
}

.rightSide {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 520px;
    height: 620px;
    padding: 10px;
    margin: 0;
    gap: 30px;

    background: rgba(108, 99, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.title {
    font-size: 30px;
    color: #FFFFFF;
}

.text {
    color: #D2B9D3;
}

@media (max-width:768px){
    .leftSide{
        display: none;
    }

    .loginForm{
        min-height: auto;
        padding: 40px 30px;
    }
}